<div class="container">
  <nav>
    <div class="logo">
      <a href="">
        <img
          src="../../../assets/tok-and-stok-.svg"
          alt="Logo Tok and Stock"
          width="250px"
        />
      </a>
    </div>
    <div class="search-bar">
      <input type="text" />
      <img
        src="../../../assets/magnifying-glass-bold-svgrepo-com.svg"
        alt="search icon"
        width="32px"
      />
    </div>
    <div class="user-actions">
      <button>
        <img
          src="../../../assets/user-alt-1-svgrepo-com.svg"
          alt="login"
          width="32px"
        />
        <span> Entre ou cadastre-se </span>
      </button>
      <button>
        <img
          src="../../../assets/cart-shopping-svgrepo-com.svg"
          alt="carrinhol"
          width="32px"
        />
        <span> Carrinho </span>
      </button>
    </div>
  </nav>
</div>
