<footer class="container">
  <div>
    <p>Siga a Tok&Stok</p>
  </div>
  <div class="social-media">
    <img
      src="../../../assets/facebook-176-svgrepo-com.svg"
      alt="facebook"
      width="32px"
    />
    <img
      src="../../../assets/instagram-167-svgrepo-com.svg"
      alt="instagram"
      width="32px"
    />
    <img
      src="../../../assets/pinterest-180-svgrepo-com.svg"
      alt="pinterest"
      width="32px"
    />
    <img
      src="../../../assets/twitter-154-svgrepo-com.svg"
      alt="twitter"
      width="32px"
    />
  </div>
  <div class="footer">
    <div>
      <img
        src="../../../assets/verified-check-svgrepo-com.svg"
        alt="garantia icon"
        width="32px"
      />
      <p>2 anos de garantia</p>
    </div>
    <div>
      <img
        src="../../../assets/store-1-svgrepo-com.svg"
        alt="clique e retire icon"
        width="32px"
      />
      <p>Clique e retire</p>
    </div>
    <div>
      <img
        src="../../../assets/truck-svgrepo-com.svg"
        alt="entrega agendada icon"
        width="32px"
      />
      <p>Entrega agendada</p>
    </div>
    <div>
      <img
        src="../../../assets/wrench-svgrepo-com.svg"
        alt="serviço e montagem icon"
        width="32px"
      />
      <p>Serviço e montagem</p>
    </div>
  </div>
</footer>
